.top-block {
  background-image: url(../img/top-block-bg2.png),url(../img/top-block-bg1.jpg);
  background-repeat: no-repeat;
  background-position: right 100%;
  background-size: auto 100%, cover;
}

.top-block__wrapper {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  position: relative;
  top: 20px;
  background-image: url("../img/phone1.png"), url("../img/phone2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 107%, 74% 98%;
}

.top-block__head-wrap {
  margin-bottom: 95px;
  height: 75px;
}

.top-block__header {
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  background: $font-gray;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: calc((100% - 1150px)/2);
  padding-right: calc((100% - 1150px)/2);
  padding-top: 7px;
  padding-bottom: 7px;
}




.top-block__contacts {
  display: flex;
  align-items: center;
}

.top-block__phone {
  margin-right: 45px;
  margin-bottom: 0;
  @include roboto(28px, 30px);
  color: $white;
}

.top-block__phone i {
  font-style: normal;
}

.top-block__order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 58px;
  border: none;
  background: $green;
  border-radius: 30px;
  color: $white;
  cursor: pointer;
  @include trans();
}

.top-block__order:hover {
  color: $green;
  background: linear-gradient(to bottom, $white1, $white2);;
  transform: scale(1.03);
}

.top-block__order_mob {
  display: none;
}

.top-block__order .top-block__order_desc {
  font-style: normal;
}

.top-block__order:hover .top-block__order_desc {
  text-shadow: none;
}

.top-block__main {
  width: 69%;
  height: calc(100% - 170px);
  display: flex;
  flex-wrap: wrap;
}

.title.top-block__title {
  margin-bottom: 55px;
  @include roboto(46px, 56px);
  color: $white;
  font-weight: 300;
}

.btn.top-block__about-btn {
  margin-right: 17px;
  border: 1px solid $white;
  color: $white;
  @include trans();
}

.btn.top-block__about-btn:hover,
.btn.top-block__about-btn:active,
.btn.top-block__about-btn:focus {
  border: 1px solid transparent;
  color: $font-green;
  background: linear-gradient(to bottom, $white1, $white2);
  transform: scale(1.03);
}

.top-block__how-btn {
  background: linear-gradient(to bottom, $white1, $white2);
  color: $font-green;
  @include trans();
}

.btn.top-block__how-btn:hover,
.btn.top-block__how-btn:active,
.btn.top-block__how-btn:focus {
  border: 1px solid $white;
  color: $white;
  background: transparent;
  transform: scale(1.03);
}

.top-block__download-btns {
  margin-top: 120px;
}

.btn.top-block__android {
  margin-right: 20px;
  background-image: url("../img/android_logo.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  @include trans();
}

.btn.top-block__android:hover {
  transform: scale(1.03);
  color: $white;
}

.top-block__windows {
  background-image: url("../img/windows_logo.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  @include trans();
}

.top-block__windows:hover {
  transform: scale(1.03);
  color: $white;
}

@media (max-width: 1170px) {
  .sticky {
    padding-left: calc((100% - 940px)/2);
    padding-right: calc((100% - 940px)/2);
  }
}

@media (max-width: 991px) {
  .top-block__head-wrap {
    margin-bottom: 55px;
  }

  .sticky {
    padding-left: 50px;
    padding-right: 50px;
  }

  .top-block__phone {
    margin-right: 25px;
  }

  .title.top-block__title {
    margin-bottom: 35px;
    font-size: 34px;
    line-height: 42px;
  }

  .top-block__main {
    height: calc(100% - 100px);
  }

  .top-block__wrapper {
    padding-top: 20px;
    padding-bottom: 40px;
    background-size: 28%, 20%;
    background-position: 105% 109%, 75% 98%;
  }

  .top-block__order {
    width: 215px;
    height: 40px;
  }

  .top-block__phone {
    font-size: 18px;
    margin-bottom: 0;
  }

  .top-block__download-btns {
    margin-top: 90px;
  }
}

@media (max-width: 768px) {
  .top-block {
    background-image: url("../img/top-block-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .sticky {
    padding-left: 15px;
    padding-right: 15px;
  }

  .top-block__wrapper {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-image: none;
  }

  .top-block__main {
    width: 100%;
  }

  .title.top-block__title {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }

  .top-block__desc-btns {
    width: 100%;
  }

  .btn.top-block__about-btn {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .top-block__how-btn {
    width: 100%;
    margin-bottom: 85px;
  }

  .top-block__download-btns {
    width: 100%;
    display: flex;
  }

  .btn.top-block__order {
    width: auto;
    padding: 10px 20px;
  }

  .btn .top-block__order_mob {
    display: flex;
    font-style: normal;
  }

  .top-block__order_desc {
    display: none;
  }

  .top-block__contacts {
    flex-direction: row-reverse;
  }

  .top-block__phone {
    width: 40px;
    height: 40px;
    margin-right: 0;
    margin-left: 25px;
    border-radius: 50%;
    background-color: $white;
    background-image: url(../img/phone-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .top-block__phone i {
    display: none;
  }

  .top-block__download-btns {
    margin-top: 0;
  }
}