$white: #ffffff;
$gray: #fbfbfb;
$font-gray: #393939;
$font-green: #157a6a;
$green: #0c9b54;
$dark-green: #09713d;
$white1: #fefefe;
$white2: #dedede;
$green1: #5fc59e;
$green2: #359b8b;

@mixin roboto($size, $lineHeight) {
  font-size: $size;
  line-height: $lineHeight;
}