@import "helpers";
@import "top-block";
@import "func";
@import "clients";


body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: $font-dark;
}

.title {
  @include roboto(40px, 42px);
  color: $font-gray;
}

.btn {
  padding: 15px 25px;
  @include roboto(20px, 22px);
  border-radius: 30px;
}

.btn_rect {
  background-color: rgba(57, 57, 57, 0.1);
  padding: 17px 20px 17px 55px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  color: $white;
}


.block__title {
  text-align: center;
  @include roboto(40px, 20px);
  margin-top: 0;
  margin-bottom: 60px;
}



@media (max-width: $sm) {
  .block__title {
    @include roboto(32px, 20px);
  }
}


@media (max-width: $xs) {
  .block__title {
    @include roboto(22px, 28px);
    margin-bottom: 30px;
  }
}

